{% extends 'base.html.twig' %}

{% block title %}{{ role.name }}{% endblock %}

{% block body %}
 <h1>Role: {{ role.name }}</h1>
 <hr>
 <h1>Salary: {{ role.salary }}$</h1>
 <hr>
 <p>Role Created at: {{ role.createdAt|date('d.m.Y') }}</p>
 <hr>
 <a href="/roles">Go Back</a>
{% endblock %}