{% extends 'base.html.twig' %}

{% block title %}Companies List{% endblock %}

{% block body %}
  {% if companies %}
    <table id="companies" class="table table-striped">
      <thead>
        <tr>
          <th>Company Title</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for company in companies %}
          <tr>
            <td>{{ company.name }}</td>
            <td>
              <a href="/company/{{ company.id }}" class="btn btn-dark">Show</a>
              <a href="/company/update/{{ company.id }}" class="btn btn-light">Edit</a>
              <a href="#" class="btn btn-danger delete-company" data-id="{{ company.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No companies to display</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/main.js"></script>
{% endblock %}