{% extends 'base.html.twig' %}

{% block title %}{{ company.name }}{% endblock %}

{% block body %}
 <h1>{{ company.name }}</h1>
 <p>{{ company.city }}</p>
 <hr>
 <p>{{ company.createdAt|date('d.m.Y') }}</p>
 <hr>
 <a href="/companies">Go Back</a>
{% endblock %}