{# index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}
    <h1>Home</h1>
    <h2> You are loggined! Now you can first create a <strong>Company </strong>, <strong>Roles </strong>and add <strong>Employye </strong>.<br><br> Or check functionality with loaded seeds </h2>
{% endblock %}